#detail{
    width: 60%;
    background-color: #fcfcff;
    opacity: 0.9;
    border: solid #fcfcfc 1px;
    border-radius: 45px;
}


.detail-hotel {
    width: 100%;
    padding: 15px;
    max-height: 340px;
    overflow-y: scroll;
}

#comment_all{
    margin-top: 7px;
}
.detail_all{
    margin-left: 10px;
    line-height: 5pt;
}
#detail_all{
    margin-left: 10px;
}

.form-detailHotel input[type="text"] {
    margin-bottom: 7px;
    border-radius: 25px;
    text-indent: 20px;
}
.form-detailHotel textarea{
    margin-bottom: 7px;
    border-radius: 25px;
    text-indent: 20px;
}

#btn-detailHotel{
    width: 160px;
    height: 37px;
    border: solid #5D1616 1px;
    border-radius: 25px;
    font-size: 16px;
    background-color: #5D1616;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
}


#btn-detailHotel:hover{
    background-color: #5D1616 !important;
    color: white;
    border: solid #5D1616 2px !important;
}

#btn-detailHotel:focus{
    outline: 0;
    box-shadow: 0 0 0 0.1rem #7D4545;
}