#result{
    width: 75%;
    background-color: #fcfcff;
    opacity: 0.9;
    border: solid #fcfcfc 1px;
    border-radius: 45px;
}

.result-search {
    width: 100%;
    padding: 15px;
    max-height: 340px;
    overflow-y: scroll;
}

.result-search input[type="text"] {
    margin-bottom: 10px;
    border-radius: 25px;
    text-indent: 10px;
}
  

.d-flex h1{
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}

#next_result{
    height: 45px;
    width: 117px;
    border: solid #5D1616 1px;
    border-radius: 25px;
    font-size: 16px;
    background-color: #5D1616;
    color: white;
    margin-left: 20px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
#locate{
    height: 120px;
    resize: none;
    white-space: nowrap;
    overflow: hidden;
}
.img-responsive{
    border-radius: 25px;
    border: 2px ;
    border-style: dashed;
    border-color: rgb(154, 152, 152);
}

.text-block {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 40px;
    justify-content: center;
}

.text-block p{
    margin: auto 3px auto;
}

.container {
    position: relative;
  }
